<!DOCTYPE html>
<html>
<head>
	<title><%= app_set_title(yield(:title))-%></title>
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'> -->
	<meta charset='utf-8'>
	<meta property='og:title' content="chihungyu1116.heroku.com Not your 9 - 5 employee">
	<meta property="og:description" content="HTML, CSS, Javascript, Tutorials">
	<meta property="og:url" content="http://chihungyu1116.heroku.com>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
  	 <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= yield :links -%>
    <%= yield :style -%>
</head>
<body>
	<div class="pg">
		<header class="pg-hd navbar-d">
			<%= yield :header_before %>
			<%= render partial: 'share/app_head' %>
			<%= yield :header_after %>
		</header>
		<div class="pg-bd">
			<%= yield :body_before %>
			<%= yield %>
			<%= yield :body_after %>
		</div>
		<footer class="pg-ft">
			<%= yield :footer_before %>
			<%= render partial: 'share/app_foot' %>
			<%= yield :footer_after %>
		</footer>
	</div>
	<!--[if IE 8]>
    <div id="IE8' class="hidden"></div>
    <![endif]-->
    <!--[if lt IE 8]>
    <div id="IE7' class="hidden"></div>
    <![endif]-->
	<%= render partial: 'share/app_ie_check' %>
	<%= yield :scripts -%>
</body>
</html>
